<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] Nick Guerra</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/main.css" rel="stylesheet" />

</head>

<body class="is-preload">

    <section id="header">
        <header>
            <span class="image avatar"><img src="~/images/profilepic1B.jpg" alt="" /></span>
            <h1 id="logo"><a asp-area="" asp-page="/Index">Nick Guerra</a></h1>
            <p>
                Software Developer<br />
                specializing in .Net
            </p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="#one" class="active">About Me</a></li>
                <li><a href="#two">Current Portfolio</a></li>
                <li><a href="#three">Other Projects</a></li>
                <li><a href="#four">My Blog</a></li>
                <li><a href="#five">Some Skills</a></li>
                @*<li><a href="#six">Contact Me</a></li>*@
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://github.com/nickassembly" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="https://www.linkedin.com/in/nick-guerra-9ba557144/" class="icon brands fa-linkedin"><span class="label">Linked In</span></a></li>
                <li><a href="https://twitter.com/nickassembly" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/search/top/?q=Nick%20Guerra" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>

            </ul>
        </footer>
    </section>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <section id="footer">
        <div class="container">
            <ul class="copyright">
                <li>&copy; Nicholas Guerra. All rights reserved.</li>
            </ul>
        </div>
    </section>



    @RenderSection("Scripts", required: false)

    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/util.js"></script>
</body>
</html>
