@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<!--TODO: Remove broken Projects, Add new projects, Redo Resume Page as additional Razor page-->
<!--TODO: RPG Project, review existing Github Repos -->
<!--TODO: Add Contact Form --- Email form? -->
<!--TODO: Redeploy -- Azure -->

<div id="wrapper">

    <div id="main">

        <section id="one">
            <div class="image main" data-position="center">
                <img src="~/images/MainBannerTop.jpg" alt="" />
            </div>
            <div class="container">
                <header class="major">
                    <h2>Software Developer</h2>
                    <p>
                        I am a Software Developer, and I work every day on all stages of software applications from design to implementation and coding.
                    </p>
                </header>
                <p>
                    My primary knowledge is in the .NET framework, however, I do not consider myself to be locked in to any specific framework or language. Building software applications
                    is about solving a problem, regardless of technology stack, language, or framework. I use the best tools available to achieve the best results.
                </p>
            </div>
        </section>

        <section id="two">
            <div class="container">
                <h3>Current Portfolio</h3>
                <p>
                    I have various side projects and full stack applications developed using C#, .Net, Javascript as well as other languages. I spend time every day learning and
                    exploring new tools and technologies to improve my skill and stay current in this fast moving industry.
                </p>
                <div class="features">
                    <article>
                        <a href="https://store.steampowered.com/app/944640/Xenias_Ark/" class="image"><img src="~/images/XaImage.jpg" alt="" /></a>
                        <div class="inner">
                            <h4>Xenia's Ark</h4>
                            <p>
                                I am proud to be one of the founding members of Malicious Games LLC. Xenia's Ark is our first game released on PC, and we are currently in active
                                development on our second title.
                            </p>
                        </div>
                    </article>
                    <article>
                        <a href="" class="image"><img src="~/images/ApiImage.jpg" alt="" /></a>
                        <div class="inner">
                            <a href="https://bookclubapiservicev2.azurewebsites.net/swagger"><h4>Role Player</h4></a>
                            <p>
                                Role Player is a .NET Razor Pages application, which allows me to consolidate various notes and documents from several role playing games in one place.

                            </p>
                        </div>
                    </article>
                    <article>
                        <a href="https://silly-nightingale-57729d.netlify.app/" class="image"><img src="~/images/BookClub.jpg" alt="" /></a>
                        <div class="inner">
                            <a href="https://github.com/nickassembly/BookClub"><h4>Book Club</h4></a>
                            <p>
                                Book Club is a .NET MVC project that I am working on with other programmers. We are building an application to track books and other media collections between friends.
                                This project serves as a platform for testing new technologies and coding techniques, as well as a way for me to track my books and other media.
                            </p>
                        </div>
                    </article>

                </div>
            </div>
        </section>

        <section id="three">
            <div class="container">
                <h3>Other Projects</h3>
                <p>
                    In addition to my C# and .Net applications, Here are some other project examples written with JavaScript as well as other libraries and frameworks.
                </p>
                <div class="row gtr-50 gtr-uniform">
                    <div class="col-4"><span class="image fit"><a href="https://determined-stonebraker-5b95c0.netlify.app/">Covid Tracker<img src="~/images/covid.jpeg" alt="" /></a></span></div>
                    <div class="col-4"><span class="image fit"><a href="https://confident-stonebraker-3fa489.netlify.com/">People Finder<img src="~/images/peoplefinder.jpg" alt="" /></a></span></div>
                    <div class="col-4"><span class="image fit"><a href="https://wonderful-cray-405df3.netlify.com/">Pound Converter<img src="~/images/weightconverter.jpg" alt="" /></a></span></div>
                    <div class="col-4"><span class="image fit"><a href="https://keen-visvesvaraya-bfc1b9.netlify.com/">Current Weather<img src="~/images/weather.jpg" alt="" /></a></span></div>
                    @*<div class="col-4"><span class="image fit"><a href="https://tender-allen-84e71b.netlify.com/">React Website<img src="~/images/project4.jpg" alt="" /></a></span></div>*@
                    <div class="col-4"><span class="image fit"><a href="https://condescending-rosalind-63b1e1.netlify.com/">Text To Speech<img src="~/images/text2speech.jpg" alt="" /></a></span></div>
                    <div class="col-4"><span class="image fit"><a href="https://zealous-blackwell-2c108b.netlify.com/">Expense Tracker<img src="~/images/ExpenseTracker.jpg" alt="" /></a></span></div>
                    @*<div class="col-4"><span class="image fit"><a href="https://cocky-euler-0e5de5.netlify.app/">React Burger Maker<img src="~/images/BurgerImage.jpeg" alt="" /></a></span></div>
                        <div class="col-4"><span class="image fit"><a href="https://determined-jepsen-53a125.netlify.app">Crypto Exchange App<img src="~/images/BlockChainImage.jpeg" alt="" /></a></span></div>*@
                    <!-- TODO: Burger App and Crypto App need to remove auth so it can be accessed properly (Crypto would require metamask, should just put up front end and
                        try to circumvent the "loading" awaiting screen before going to main page. -->
                </div>
            </div>
        </section>

        <!-- Four -->
        <!--<section id="four">
            <div class="container">
                <h3>My Blog</h3>
                <p>
                    I maintain a blog covering topics about technology, learning and philosophy.
                    I try to use it as another tool to outline my journey of improvement and becoming a
                    better developer every day.
                </p>
                <div class="features">
                    <article>-->
        @*<a href="http://nickguerra-001-site1.ctempurl.com/?pageNumber=1" class="image"><img src="~/images/FacioBlog.jpg" alt="" /></a>*@
        <!--<a href="https://facioblog.azurewebsites.net" class="image"><img src="~/images/FacioBlog.jpg" alt="" /></a>
                        <div class="inner">
                            <h4>Blog</h4>
                            <p>The blog is built using ASP.NET core MVC as well as some Razor Pages.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>-->
        <!-- Five -->
        <section id="five">
            <div class="container">
                <h3>Skills and Resume</h3>
                <p> A short summary of my education, experiences and some of my skills can be found on this
                    <!--TODO style resume page based on VUE Project-->
                    <a asp-page="Resume" class=""><strong style="color:#4acaa8;">Resume Page</strong></a></p>  
                <p>
                    Below are some of the tools and skills I practice and work with daily, however, I am constantly adding new skills, tools,
                    and techniques to this list in order to stay relevant in this constantly changing industry.
                </p>
                <ul class="feature-icons">
                    <li class="icon solid fa-code">C#</li>
                    <li class="icon solid fa-cubes">.Net</li>
                    <li class="icon solid fa-database">SQL</li>
                    <li class="icon brands fa-html5">Html</li>
                    <li class="icon brands fa-css3">Css</li>
                    <li class="icon brands fa-js">Javascript</li>
                    <li class="icon brands fa-bootstrap">Bootstrap</li>
                    <li class="icon brands fa-git">Git</li>

                </ul>
            </div>
            <div class="container">
                <h3>Certifications</h3>
                <p>
                    I am experienced in various Agile Methodologies and techniques. Including all of the various Scrum Roles.
                    In addition I know many tools and techniques involving all development tasks.
                </p>
                <div class="row">
                    <div class="col-6">
                        <a href="https://www.scrum.org/professional-scrum-certifications/professional-scrum-master-assessments">
                            <img src="~/images/psmi.jpg" alt="" />
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.scrum.org/professional-scrum-developer-certification">
                            <img src="~/images/psdi.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            @*<section id="four">
                <div class="container">
                <h3>Contact Me</h3>
                <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
                <form method="post" action="#">
                <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall"><input type="text" asp-for="Email.From"  name="name" id="name" placeholder="Name" /></div>
                <div class="col-6 col-12-xsmall"><input type="email" asp-for="Email.To" name="email" id="email" placeholder="Email" /></div>
                <div class="col-12"><input type="text" name="subject" asp-for="Email.Subject" id="subject" placeholder="Subject" /></div>
                <div class="col-12"><textarea name="message" id="message" asp-for="Email.Body" placeholder="Message" rows="6"></textarea></div>
                <div class="col-12">
                <ul class="actions">
                <li><input type="submit" class="primary" value="Send Message" /></li>
                <li><input type="reset" value="Reset Form" /></li>
                </ul>
                </div>
                </div>
                </form>
                </div>
                </section>*@

        </section>

    </div>
</div>