@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <div class="image main" data-position="center">
                <img src="images/banner.jpg" alt="" />
            </div>
            <div class="container">
                <header class="major">
                    <h2>Software Developer</h2>
                    <p>
                        I am currently working as a developer on a variety of projects, using multiple technologies and tool sets.
                    </p>
                </header>
                <p>
                    I am a .NET Developer primarily, but enjoy working with multiple languages and frameworks including Javascript, NodeJS and many
                    other front end libraries. In my spare time, I focus on learning new techniques to stretch my knowledge. I also work on a team
                    using the Unity Engine to develop PC Games.
                </p>
            </div>
        </section>

        <!-- Two -->
        <section id="two">
            <div class="container">
                <h3>Current Portfolio</h3>
                <p>Most of the projects that I work can be found on my Github page, here are a few of the main projects written primarily using .NET and C# </p>
                <div class="features">
                    <article>
                        <a href="https://store.steampowered.com/app/944640/Xenias_Ark/" class="image"><img src="~/images/XaImage.jpg" alt="" /></a>
                        <div class="inner">
                            <h4>Xenia's Ark</h4>
                            <p>
                                I am part owner of a Gaming Company, Malicious Games LLC. We have recently released our first pc game on the Steam Workshop.
                                This is a deep strategy game built in C# on the Unity Game Engine.
                            </p>
                        </div>
                    </article>
                    <article>
                        <a href="https://bookclubapi.azurewebsites.net/swagger/index.html" class="image"><img src="~/images/ApiImage.jpg" alt="" /></a>
                        <div class="inner">
                            <h4>Restful Api</h4>
                            <p>This is one of my Restful Api projects I am currently working on. It is built using .Net, and serves as the back end for a few of my other applications.</p>
                        </div>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                        <div class="inner">
                            <h4>Project 3</h4>
                            <p>Project three short description</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <!-- Three -->
        <section id="three">
            <div class="container">
                <h3>Other Projects</h3>
                <p>
                    Although the majority of my work is written in C# using .NET, .NET Core and Asp.net, I also work with other libraries, APIs, and
                    technologies. Some of these project demos can be found below.
                </p>
                <div class="row gtr-50 gtr-uniform">
                    <div class="col-4"><span class="image fit"><a href="https://confident-stonebraker-3fa489.netlify.com/">People Finder<img src="~/images/peoplefinder.jpg" alt="" /></a></span></div>
                    <div class="col-4"><span class="image fit"><a href="https://wonderful-cray-405df3.netlify.com/">Pound Converter<img src="~/images/weightconverter.jpg" alt="" /></a></span></div>
                    <div class="col-4"><span class="image fit"><a href="https://keen-visvesvaraya-bfc1b9.netlify.com/">Current Weather<img src="~/images/weather.jpg" alt="" /></a></span></div>
                    <div class="col-4"><span class="image fit"><a href="https://tender-allen-84e71b.netlify.com/">React Website<img src="~/images/project4.jpg" alt="" /></a></span></div>
                    <div class="col-4"><span class="image fit"><a href="https://condescending-rosalind-63b1e1.netlify.com/">Text To Speech<img src="~/images/text2speech.jpg" alt="" /></a></span></div>

                </div>
            </div>
        </section>

        <!-- Four -->
        <section id="four">
            <div class="container">
                <h3>My Blog</h3>
                <p>
                    I maintain a blog covering topics about technology, learning and philosophy.
                    I try to use it as another tool to outline my journey of improvement and becoming a
                    better developer every day.
                </p>
                <div class="features">
                    <article>
                        <a href="http://nickguerra-001-site1.ctempurl.com/?pageNumber=1" class="image"><img src="~/images/FacioBlog.jpg" alt="" /></a>
                        <div class="inner">
                            <h4>Blog</h4>
                            <p>The blog is built using ASP.NET core MVC as well as some Razor Pages.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <!-- Five -->
        <section id="five">
            <div class="container">
                <h3>Skills and Resume</h3>
                <p> A short summary of my education, experiences and some of my skills can be found on this  <a href="https://clever-varahamihira-4c18aa.netlify.com/"><strong>Resume Page.</strong></a></p>
                <p>
                    Below are some of the tools and skills I work with regularly, however, in a quickly changing industry such as Software Development embrace being a
                    life long learner, and add to these skills and techniques on a daily basis.
                </p>
                <ul class="feature-icons">
                    <li class="icon solid fa-code">C#</li>
                    <li class="icon solid fa-cubes">.Net</li>
                    <li class="icon solid fa-database">SQL</li>
                    <li class="icon brands fa-html5">Html</li>
                    <li class="icon brands fa-css3">Css</li>
                    <li class="icon brands fa-js">Javascript</li>
                    <li class="icon brands fa-bootstrap">Bootstrap</li>
                    <li class="icon brands fa-git">Git</li>

                </ul>
            </div>
            <div class="container">
                <h3>Certifications</h3>
                <p>I am experienced in various Agile Methodologies and techniques. Including all of the various Scrum Roles.
                In addition I know many tools and techniques involving all development tasks. </p>
                <div class="row">
                    <div class="col-6">
                        <a href="https://www.scrum.org/professional-scrum-certifications/professional-scrum-master-assessments">
                            <img src="~/images/psmi.jpg" alt="" />
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.scrum.org/professional-scrum-developer-certification">
                            <img src="~/images/psdi.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Six -->
        <section id="six">
            <div class="container">
                <h3>Contact Me</h3>
                <p>Feel free to contact me with any questions or comments.</p>
                <form method="post" action="#">
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
                        <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
                        <div class="col-12"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
                        <div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" class="primary" value="Send Message" /></li>
                                <li><input type="reset" value="Reset Form" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </section>

    </div>
</div>