@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<div id="wrapper">

    <div id="main">

        <section id="one">
            <div class="image main" data-position="center">
                <img src="~/images/MainBannerTop.jpg" alt="" />
            </div>
            <div class="container">
                <header class="major">
                    <h2>Software Engineer</h2>
                    <p>
                        I am a Fullstack Software Engineer, and I have experience working with and leading teams across all parts of the software development life cycle from design to deployment.
                    </p>
                </header>
                <p>
                    I have experience in several areas of front and back end programming, and enjoy learning and implementing new technologies when and where they are best suited. 
                    I build software applications using the tools, libraries and frameworks that are the best fit for the requirements of the project.
                </p>
            </div>
        </section>

        <section id="two">
            <div class="container">
                <p>
                    I have various side projects and full stack applications developed using different programming languages, including Line of Business Application Development, Web Development, and Game Development.
                </p>
                <p>
                    As a professional developer, learning new tools and technologies is often required to solve a problem efficiently, so I spend time daily to improve my skill and stay current in this fast moving industry.
                </p>
                <div class="features">
                    <article>
                        <a href="https://store.steampowered.com/app/944640/Xenias_Ark/" class="image"><img src="~/images/XaImage.jpg" alt="" /></a>
                        <div class="inner">
                            <h4>Xenia's Ark</h4>
                            <p>
                                I helped to found Malicious Games LLC, through which I work with other team members to develop games using the Unity Game Engine. Xenia's Ark is our first game, released and published to Steam for the PC. I work with a small team to develop new games during my free time. </p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section id="five">
            <div class="container">
                <h3><a asp-page="Resume" class=""><strong style="color:#4acaa8;">View Resume</strong></a></h3>
                
                <h3>Core Competencies</h3>
                <p>
                    I have experience in all aspects of the Software Development Life Cycle as well as various frameworks and libraries for Backend and Frontend, both in Development and Deployment. 
                </p>
                <p>
                    In addition to the below skills, I am experienced in various toolsets in the React ecosystem, including Storybook, GraphQL, and others. 
                </p>
                <p>
                    As a Professional Engineer it is often required for me to learn a new toolset or technology in order to solve a particular need of a given project.
                </p>
                <ul class="feature-icons">
                    <li class="icon solid fa-code">C#</li>
                    <li class="icon solid fa-cubes">.Net</li>
                    <li class="icon solid fa-database">SQL</li>
                    <li class="icon brands fa-html5">Html</li>
                    <li class="icon brands fa-css3">CSS</li>
                    <li class="icon brands fa-js">Javascript</li>
                    <li class="icon brands fa-git">Git</li>
                </ul>
            </div>
            <div class="container">
                <h3>Certifications</h3>
                <p>
                    I am experienced in various Agile Methodologies and techniques. Including all of the various Scrum Roles.
                    In addition I know many tools and techniques involving all development tasks.
                </p>
                <div class="row">
                    <div class="col-6">
                        <a href="https://www.scrum.org/professional-scrum-certifications/professional-scrum-master-assessments">
                            <img src="~/images/psmi.jpg" alt="" />
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.scrum.org/professional-scrum-developer-certification">
                            <img src="~/images/psdi.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>