@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<!--TODO: Redeploy -- Azure -->

<div id="wrapper">

    <div id="main">

        <section id="one">
            <div class="image main" data-position="center">
                <img src="~/images/MainBannerTop.jpg" alt="" />
            </div>
            <div class="container">
                <header class="major">
                    <h2>Software Engineer</h2>
                    <p>
                        I am a Fullstack Software Engineer, and I have experience working with and leading teams across all parts of the software development life cycle from design to deployment.
                    </p>
                </header>
                <p>
                    I have experience in several areas of front and back end programming, and enjoy learning and implementing new technologies when and where they are best suited. 
                    I build software applications using the tools, libraries and frameworks that are the best fit for the requirements of the project.
                </p>
            </div>
        </section>

        <section id="two">
            <div class="container">
                <h3>Current and Past Projects</h3>
                <p>
                    I have various side projects and full stack applications developed using C#, .Net, Javascript as well as other languages. I spend time every day learning and
                    exploring new tools and technologies to improve my skill and stay current in this fast moving industry.
                </p>
                <div class="features">
                    <article>
                        <a href="https://store.steampowered.com/app/944640/Xenias_Ark/" class="image"><img src="~/images/XaImage.jpg" alt="" /></a>
                        <div class="inner">
                            <h4>Xenia's Ark</h4>
                            <p>
                                I am proud to be one of the founding members of Malicious Games LLC. Xenia's Ark is our first game released on PC, and we are currently in active
                                development on our second title.
                            </p>
                        </div>
                    </article>

                    <article>
                        <!-- TODO Replace bookclub with front end for project book -- both links go to project / not code -->
                        <!-- TODO Add AI section demo of some sort -->
                        <a href="https://psa-web.azurewebsites.net/login" class="image"><img src="~/images/BookClub.jpg" alt="" /></a>
                        <div class="inner">
                            <a href="https://psa-web.azurewebsites.net/login"><h4>Book Club</h4></a>
                            <p>
                                Book Club is one of my current projects used for book lovers to track and share all types of books in audio and other formats. It is a full stack application built using a several tools and libraries.
                            </p>
                        </div>
                    </article>

                </div>
            </div>
        </section>

        <section id="three">
            <div class="container">
                <h3>Other Projects</h3>
                <p>
                   I work on various projects in my free time in order to stay current with the latest tools and to improve my existing skills.
                   The challenge of keeping up with a changing Software Development industry is one of the many reasons I love what i do.
                </p>
                <div class="row gtr-50 gtr-uniform">
                  @*   <div class="col-4"><span class="image fit"><a href="https://github.com/nickassembly/ExpenseTracker.git">Covid Tracker</a><a href="https://determined-stonebraker-5b95c0.netlify.app/"><img src="~/images/covid.jpeg" alt="" /></a></span></div> *@
                   
                    @* <div class="col-4"><span class="image fit"><a href="https://github.com/nickassembly/PeopleFinder.git">People Finder</a><a href="https://confident-stonebraker-3fa489.netlify.com/"><img src="~/images/peoplefinder.jpg" alt="" /></a></span></div> *@
                    <div class="col-4"><span class="image fit"><a href="https://github.com/nickassembly/WeightConverter.git">Pound Converter</a><a href="https://wonderful-cray-405df3.netlify.com/"><img src="~/images/weightconverter.jpg" alt="" /></a></span></div>
                    @* <div class="col-4"><span class="image fit"><a href="https://github.com/nickassembly/Weather.git">Current Weather</a><a href="https://keen-visvesvaraya-bfc1b9.netlify.com/"><img src="~/images/weather.jpg" alt="" /></a></span></div> *@
                    <div class="col-4"><span class="image fit"><a href="https://github.com/nickassembly/text2speech.git">Text To Speech</a><a href="https://condescending-rosalind-63b1e1.netlify.com/"><img src="~/images/text2speech.jpg" alt="" /></a></span></div>
                    <div class="col-4"><span class="image fit"><a href="https://github.com/nickassembly/ExpenseTracker.git">Expense Tracker</a><a href="https://zealous-blackwell-2c108b.netlify.com/"><img src="~/images/ExpenseTracker.jpg" alt="" /></a></span></div>
                </div>
            </div>
        </section>

        <section id="five">
            <!--TODO Add small banner/pattern similar to top of page-->
            <div class="container">
                <!--TODO Add Icon or arrow next to Resume Link-->
                <h3><a asp-page="Resume" class=""><strong style="color:#4acaa8;">View Resume</strong></a></h3>
                
                <h3>Core Competencies</h3>
                <p>
                    Below are some core skills that I work with often, however, I am always adding new tools based on job requirements and an ever evolving industry.
                </p>
                <ul class="feature-icons">
                    <!--TODO Add react and other applicable skills-->
                    <li class="icon solid fa-code">C#</li>
                    <li class="icon solid fa-cubes">.Net</li>
                    <li class="icon solid fa-database">SQL</li>
                    <li class="icon brands fa-html5">Html</li>
                    <li class="icon brands fa-css3">CSS</li>
                    <li class="icon brands fa-js">Javascript</li>
                    <li class="icon brands fa-bootstrap">Bootstrap</li>
                    <li class="icon brands fa-git">Git</li>

                </ul>
            </div>
            <div class="container">
                <h3>Certifications</h3>
                <p>
                    I am experienced in various Agile Methodologies and techniques. Including all of the various Scrum Roles.
                    In addition I know many tools and techniques involving all development tasks.
                </p>
                <div class="row">
                    <div class="col-6">
                        <a href="https://www.scrum.org/professional-scrum-certifications/professional-scrum-master-assessments">
                            <img src="~/images/psmi.jpg" alt="" />
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.scrum.org/professional-scrum-developer-certification">
                            <img src="~/images/psdi.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>